body {
    padding: 70px 0 0;
}

.navbar-default {
    background: #f60;
}

.navbar-fixed-top {
    border: 0;
}

.navbar-nav a {
    color: #fff !important;
}

.navbar-nav .active a {
    background: #e75c00 !important;
}

.navbar-brand {
    color: #fff !important;
}

.navbar-brand span {
    font-size: 30px;
    float: left;
    margin: -7px 10px 0 0;
}

form {
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    form {
        padding-bottom: 48px;
    }
}

.documents {

}

.document {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 0 15px;
    border-radius: 10px;
    background: #e6e6e6;
    text-align: center;
    color: inherit !important;
    text-decoration: none !important;
}

.document p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.document .glyphicon {
    font-size: 80px;
    line-height: 120px;
    position: relative;
    margin-bottom: -10px;
}

.document .glyphicon-file {
    left: 5px;
}